
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>
   
<form action="/" method="post">
    <div>
        姓名:
        <input type="text" name="name" value="" />
    </div>

    <div>
        帳號:
        <input type="text" name="acc" value="" />
    </div>
    <div>
        密碼:
        <input type="password" name="pwd" value="" />
    </div>
    <div>
        性別:
        <input type="radio" name="gender" value="A"> 男性
        <input type="radio" name="gender" value="B"> 女性
    </div>
    <div>
        興趣:
        <input type="checkbox" id="vehicle1" name="habit" value="swim">
        <label for="habit"> 游泳</label>
        <input type="checkbox" id="vehicle2" name="habit" value="read">
        <label for="habit"> 閱讀</label>
        <input type="checkbox" id="vehicle3" name="habit" value="movie">
        <label for="habit"> 看電影</label>
    </div>
    <div>
        自我介紹:
        <textarea> 
        </textarea>

    </div>
</form>

    

